roxority_UploadZen/roxority_UploadZen_Uploader/Web References/roxority_UploadZen/Files.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://xmlns.roxority.com/uploadzen/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://xmlns.roxority.com/uploadzen/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://xmlns.roxority.com/uploadzen/">
      <s:element name="UploadDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="folderName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="unzip" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="overwrite" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="autoCheckIn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="autoCheckOut" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="replace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metaDataRaw" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="hasHelp" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDocument" />
  </wsdl:message>
  <wsdl:message name="UploadDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="FilesSoap">
    <wsdl:operation name="UploadDocument">
      <wsdl:input message="tns:UploadDocumentSoapIn" />
      <wsdl:output message="tns:UploadDocumentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FilesSoap" type="tns:FilesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDocument">
      <soap:operation soapAction="http://xmlns.roxority.com/uploadzen/UploadDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FilesSoap12" type="tns:FilesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadDocument">
      <soap12:operation soapAction="http://xmlns.roxority.com/uploadzen/UploadDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Files">
    <wsdl:port name="FilesSoap" binding="tns:FilesSoap">
      <soap:address location="http://roxority/_layouts/roxority_UploadZen/Files.asmx" />
    </wsdl:port>
    <wsdl:port name="FilesSoap12" binding="tns:FilesSoap12">
      <soap12:address location="http://roxority/_layouts/roxority_UploadZen/Files.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>